* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "poppins";
    color: white;
}

/* TOP NAV */
.topNav {
    background-color: black;
    height: 15vh;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    align-items: center;

}

.topNavSubContainer {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
    display: flex;
    align-items: center;
}

.logo div img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    padding: 2px;
    border: 1px solid white;
    border-radius: 50px;
}

/* Contact Us */
.contactUs {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactUs i {
    color: white;
    font-size: 30px;
    margin-right: 10px;
}
.contactUs p {
    font-size: 14px;
}

/* GENERAL CONTAINER */
.generalContainer {
    background-color: black;
}

/* MAIN CONTAINER */
.mainContainer {
    background-image: url("IMAGES/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
}

/* CONTENT CONTAINER */
.contentContainer {
    width: 80%;
    background-color: rgb(20, 20, 20, 0.5);
    height: 100vh;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Hero text */
 .heroText {
     width: 50%;
 }

 .heroText h1 {
     font-size: 50px;
 }

 .heroText button {
     padding: 10px 20px;
     width: 100%;
     margin-top: 20px;
     color: white;
     background-color: green;
     border: none;
     border-radius: 4px;
     box-shadow: 0px 0px 10px gray;
 }

 .heroText button:hover {
     background-color: white;
     color: green;
 }

 /* GALLERY IMAGES */
 .galleryContainer {
     width: 80%;
     margin: -40px auto 0px auto;
 }
 .galleryImages {
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     
 }
 .galleryImages div {
     width: 30%;
     position: relative;
 }

 .galleryImages div h3 {
     position: absolute;
     bottom: 20px;
     left: 20px;
 }
 .galleryImages div img {
     width: 100%;
     border: 1px solid white;
     border-radius: 4px;
     box-shadow: 0px 0px 10px gray;
     height: 200px;
 }

 /* PIZZA SIZES CONTAINER */
 .pizzaSizesContainer {
     width: 80%;
     margin: 40px auto 0px auto;
     text-align: center;
 }